body, html {
  margin: 0 !important;
  padding: 0 !important;
}

a {
  color: #f4f4f4;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Old Standard TT", serif;
}

p {
  font-family: "DM Sans", sans-serif;
}

.active {
  color: #018ae0 !important;
}

.top-bar {
  background-color: #018ae0;
  color: #f4f4f4;
  padding: 5px;
  font-size: 18px;
}
.top-bar .contact-details {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  list-style: none;
  padding: 0;
  margin: 0;
}
.top-bar .contact-details li {
  display: inline;
}
.top-bar .contact-details li a {
  color: #f4f4f4;
  text-decoration: none;
  transition: color 0.3s ease;
}
.top-bar .contact-details li a:hover {
  color: #090979;
}
.top-bar .social-icons {
  display: flex;
  gap: 10px;
}
.top-bar .social-icons a {
  font-size: 1.2rem;
  color: #f4f4f4;
}
.top-bar .social-icons a:hover {
  color: #090979;
}

.container-topbar {
  max-width: 82%;
  margin: 0 auto;
}

.navbar {
  padding: 10px 0;
}
.navbar .container {
  max-width: 82%;
  padding: 0 !important;
}
.navbar a {
  color: #222;
  text-decoration: none;
  transition: color 0.3s ease;
}
.navbar a:hover {
  color: #018ae0;
}

@media (max-width: 768px) {
  .navbar .navbar-nav {
    gap: 1rem !important;
    text-align: right;
  }
}
.navbar-toggler {
  color: #018ae0;
}
.navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='%23007bff' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.footer-wrapper {
  background-color: #f4f4f4;
  text-align: center;
  padding: 2rem 0 0;
}
.footer-wrapper .footer-container {
  display: flex;
  max-width: 82%;
  margin: 0 auto;
}
.footer-wrapper .footer-container .footer-column {
  flex: 1;
  min-width: 200px;
  margin: 1rem 0 4rem;
  line-height: 1.5rem;
}
.footer-wrapper .footer-container .footer-column h3 {
  font-family: "DM Sans", sans-serif !important;
  font-size: 1.25rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
  color: #222;
  position: relative;
}
.footer-wrapper .footer-container .footer-column h3::after {
  content: "";
  display: block;
  width: 250px;
  height: 1px;
  background-color: #222;
  margin: 0.5rem 0;
}
.footer-wrapper .footer-container .footer-column ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer-wrapper .footer-container .footer-column ul li {
  margin-bottom: 0.5rem;
}
.footer-wrapper .footer-container .footer-column ul li a {
  text-decoration: none;
  color: #222;
  font-size: 1rem;
  transition: color 0.3s;
}
.footer-wrapper .footer-container .footer-column ul li a:hover {
  color: #018ae0;
}
.footer-wrapper .footer-container .footer-column:first-child {
  text-align: left;
}
.footer-wrapper .footer-container .footer-column:last-child {
  text-align: right;
}
.footer-wrapper .footer-container .footer-column:last-child h3::after {
  margin-left: auto;
}
.footer-wrapper .footer-container .footer-logo {
  text-align: center;
}
.footer-wrapper .footer-container .footer-logo img {
  max-width: 180px;
  margin-bottom: 1rem;
}
.footer-wrapper .footer-container .footer-logo .social-links {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.footer-wrapper .footer-container .footer-logo .social-links a {
  font-size: 2rem;
  color: #090979;
  transition: transform 0.3s, color 0.3s;
}
.footer-wrapper .footer-container .footer-logo .social-links a:hover {
  transform: scale(1.1);
  color: #018ae0;
}
.footer-wrapper .footer-container .footer-logo .social-links a.fa-square-facebook, .footer-wrapper .footer-container .footer-logo .social-links a.fa-square-instagram, .footer-wrapper .footer-container .footer-logo .social-links a.fa-square-whatsapp {
  background-color: transparent;
  border-radius: 0;
  width: auto;
  height: auto;
}
.footer-wrapper .footer-credits {
  background-color: #018ae0;
  color: #f4f4f4;
  padding: 1rem 0;
  font-size: 0.9rem;
}
.footer-wrapper .footer-credits p {
  margin: 0;
}

@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    align-items: center !important;
    text-align: center;
  }
  .footer-container .footer-column:nth-child(1) {
    order: 3; /* First column (last in order) */
  }
  .footer-container .footer-column:nth-child(2) {
    order: 1; /* Second column (first in order) */
  }
  .footer-container .footer-column:nth-child(3) {
    order: 2; /* Third column (second in order) */
  }
  .footer-container .footer-column h3 {
    text-align: center;
  }
  .footer-container .footer-column ul {
    display: flex;
    flex-direction: column;
  }
  .footer-container .footer-column ul li {
    text-align: center;
    margin: 0.5rem 0;
  }
}
.hero-contacto {
  background-image: url("../images/hero-contacto.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  color: #f4f4f4;
}
.hero-contacto .col {
  height: 560px;
  text-align: center;
  align-content: center;
}
.hero-contacto .col h1 {
  font-size: 3rem;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}
.hero-contacto .col p {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}

.contact-info h2 {
  font-size: 2rem;
}
.contact-info .list-unstyled li i {
  color: #f4f4f4;
}
.contact-info .list-unstyled li strong {
  display: block;
  font-size: 1.2rem;
}
.contact-info iframe {
  border-radius: 10px;
}
.contact-info .contact-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contact-info .contact-details ul {
  text-align: center;
}
.contact-info .contact-details a:hover {
  color: #018ae0;
}
@media (max-width: 768px) {
  .contact-info iframe {
    width: 100%;
    height: 450px;
  }
}

.contact-form-section {
  background-color: #fff;
  min-height: 90vh;
}
.contact-form-section .contact-form-container {
  background-color: #018ae0;
  color: #f4f4f4;
  padding: 0 2rem 2rem;
  border-radius: 15px;
  width: 100%;
  max-width: 600px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 30px;
}
.contact-form-section .contact-form-container .icon-container {
  background-color: #018ae0;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: 0 auto -30px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f4f4f4;
  font-size: 1.5rem;
  position: relative;
  top: -30px;
}
.contact-form-section .contact-form-container h3 {
  margin-top: 10px;
  margin-bottom: 30px;
  font-size: 1.75rem;
  font-weight: 400;
  text-align: center;
}
.contact-form-section .contact-form-container .form-control {
  border-radius: 0;
  border: 1px solid #f4f4f4;
  padding: 10px;
  resize: none;
}
.contact-form-section .contact-form-container button {
  background-color: transparent;
  border: 1px solid #f4f4f4;
  color: #f4f4f4;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.contact-form-section .contact-form-container button:hover {
  background-color: #f4f4f4;
  color: #018ae0;
}

.hero-anforas {
  background-image: url("../images/hero-anforas.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  color: #f4f4f4;
}
.hero-anforas .col {
  height: 560px;
  text-align: center;
  align-content: center;
}
.hero-anforas .col h1 {
  font-size: 3rem;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}
.hero-anforas .col p {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}

.card-img-top {
  width: auto;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 1/1;
}
.card-price {
  min-height: 1.5rem;
  font-size: 1.25rem;
  color: #222;
}
.card-body {
  text-align: center;
}
.card button {
  border: 1px solid #222;
  color: #222;
  background-color: transparent;
  padding: 0.5rem 1rem;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.card button:hover {
  background-color: #018ae0;
  color: #f4f4f4;
  border: 1px solid #018ae0;
}

.hero-apoyo {
  background-image: url("../images/hero-apoyo.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  color: #f4f4f4;
  position: relative;
}
.hero-apoyo::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.hero-apoyo .col {
  height: 560px;
  text-align: center;
  align-content: center;
  position: relative;
  z-index: 2;
}
.hero-apoyo h1 {
  font-size: 3rem;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}
.hero-apoyo p {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}

.container-apoyo1 {
  width: 82%;
  text-align: center;
  margin: 0 auto;
}
.container-apoyo1 p {
  width: 50%;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .container-apoyo1 p {
    width: 100%;
  }
}

.container-apoyo2 {
  padding: 0 !important;
}
.container-apoyo2 .imagen-apoyo {
  background-image: url("../images/grief.avif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #f4f4f4;
}
.container-apoyo2 .imagen-apoyo .col {
  height: 560px;
  text-align: center;
  align-content: center;
}

.apoyo-telefono a {
  color: #222;
}
.apoyo-telefono a:hover {
  color: #018ae0;
}

.hero-joyas {
  background-image: url("../images/hero-joyas.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  color: #f4f4f4;
  position: relative;
}
.hero-joyas::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
}
.hero-joyas .col {
  height: 560px;
  text-align: center;
  align-content: center;
  position: relative;
  z-index: 2;
}
.hero-joyas .col h1 {
  font-size: 3rem;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}
.hero-joyas .col p {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}

.hero-index {
  background-image: url("../images/hero-index.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #f4f4f4;
  position: relative;
}
.hero-index .col {
  height: 560px;
  text-align: center;
  align-content: center;
  position: relative;
  z-index: 2;
}

.hero-section {
  height: 560px;
  position: relative;
}
.hero-section .carousel-inner {
  height: 100%;
}
.hero-section .carousel-item {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.hero-section .carousel-caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.hero-section .carousel-caption h1 {
  font-size: 3rem;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.8);
}
.hero-section .carousel-caption p {
  font-size: 1.2rem;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6);
}

@media (max-width: 768px) {
  .hero {
    padding: 1.5rem 0;
  }
  .hero .header-anforas h1 {
    font-size: 1.8rem;
  }
  .hero .header-anforas p {
    font-size: 1rem;
  }
  .hero-section {
    display: none;
  }
}
@media (min-width: 768px) {
  .hero {
    display: none;
  }
}
.nosotros {
  background-color: #f4f4f4;
}

.why-choose-us {
  background-color: #f9f9f9;
}
.why-choose-us h2 {
  font-weight: bold;
  color: #222;
}
.why-choose-us .feature {
  text-align: center;
  padding: 1rem;
}
.why-choose-us .feature .icon {
  font-size: 2.5rem;
  color: #018ae0;
}
.why-choose-us .feature h3 {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: #222;
  line-height: 1.3;
}
.why-choose-us .feature p {
  font-size: 0.875rem;
  line-height: 1.6;
}

.testimony-carousel {
  background-color: #222;
  color: #f4f4f4;
}
.testimony-carousel .carousel-control-prev,
.testimony-carousel .carousel-control-next {
  width: auto;
  bottom: 150px;
}
.testimony-carousel .carousel-control-prev {
  left: -1rem;
}
.testimony-carousel .carousel-control-next {
  right: -1rem;
}
.testimony-carousel .carousel-inner {
  text-align: center;
}
.testimony-carousel .testimonial-text {
  font-size: 1.25rem;
  font-style: italic;
  margin-bottom: 1rem;
  line-height: 1.6;
  color: #f4f4f4;
}
.testimony-carousel .testimonial-author {
  font-size: 1rem;
  font-weight: bold;
  color: #ccc;
}

.hero-memorial {
  background-image: url("../images/hero-memorial.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #f4f4f4;
  position: relative;
}
.hero-memorial .col {
  height: 560px;
  text-align: center;
  align-content: center;
  position: relative;
  z-index: 2;
}
.hero-memorial h1 {
  font-size: 3rem;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}
.hero-memorial p {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}

.memorial-box {
  background-color: #f4f4f4;
}

.memorial-img {
  max-width: 600px;
}

.memorial-content h3 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}
.memorial-content p {
  font-size: 0.9rem;
  margin: 0;
}
.memorial-content strong {
  font-size: 1rem;
  color: #555;
}

button.btn-outline-primary {
  background-color: #018ae0;
  border-color: #018ae0;
  color: #f4f4f4;
}
button.btn-outline-primary:hover {
  background-color: #090979;
  border-color: #090979;
  color: #f4f4f4;
}
button.btn-primary {
  background-color: #018ae0;
  color: #f4f4f4;
}
button.btn-primary:hover {
  background-color: #090979;
}

.pagination .page-item.active .page-link {
  background-color: #018ae0;
  color: #f4f4f4;
  border-color: #018ae0;
}
.pagination .page-item .page-link {
  color: #018ae0;
}
.pagination .page-item .page-link:hover {
  background-color: #018ae0;
  border-color: #018ae0;
  color: #f4f4f4;
}

.hero-proceso {
  background-image: url("../images/hero-proceso.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #f4f4f4;
  position: relative;
}
.hero-proceso .col {
  height: 560px;
  text-align: center;
  align-content: center;
  position: relative;
  z-index: 2;
}
.hero-proceso h1 {
  font-size: 3rem;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}
.hero-proceso p {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}

.infographic-section {
  background-color: #f4f4f4;
}
.infographic-section .icon-blue {
  font-size: 2.5rem;
  color: #018ae0;
}
.infographic-section h2 {
  color: #222;
}
.infographic-section .info-item {
  padding: 1rem;
}
.infographic-section .info-item i {
  font-size: 2.5rem;
  color: #018ae0;
}
.infographic-section .info-item p {
  color: #f4f4f4;
  font-size: 0.9rem;
}
.infographic-section .btn {
  padding: 0.8rem 1.5rem;
  font-size: 1rem;
  border-radius: 0.3rem;
  transition: background-color 0.3s ease;
  background-color: #018ae0;
}
.infographic-section .btn:hover {
  background-color: #090979;
}

.faq-section {
  background-color: #fff;
}
.faq-section h2 {
  color: #222;
  font-weight: 700;
}
.faq-section .accordion-item {
  border: none;
  margin-bottom: 1rem;
}
.faq-section .accordion-item .accordion-header {
  font-family: "DM Sans", sans-serif;
}
.faq-section .accordion-item .accordion-header button {
  background-color: #fff;
  color: #222;
  font-weight: bold;
  border: 1px solid #dee2e6;
}
.faq-section .accordion-item .accordion-header button:focus {
  box-shadow: none;
}
.faq-section .accordion-item .accordion-header button:not(.collapsed) {
  color: #fff;
  background-color: #018ae0;
}
.faq-section .accordion-item .accordion-body {
  background-color: #ffffff;
  border: 1px solid #dee2e6;
  color: #6c757d;
  font-size: 0.95rem;
}

.hero-cremacion {
  background-image: url("../images/hero-cremacion.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #f4f4f4;
  position: relative;
}
.hero-cremacion .col {
  height: 560px;
  text-align: center;
  align-content: center;
  position: relative;
  z-index: 2;
}
.hero-cremacion h1 {
  font-size: 3rem;
}

.mps-will {
  background-color: #222;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mps-will .content-wrapper {
  background-color: #fff;
  max-width: 600px;
}
.mps-will .content-wrapper ul {
  padding: 0;
}
.mps-will .content-wrapper ul li {
  font-size: 1rem;
  line-height: 1.5;
}
.mps-will .content-wrapper .btn {
  font-weight: 600;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #018ae0;
  color: #fff;
  border: none;
}
.mps-will .content-wrapper .btn:hover {
  background-color: #090979;
}

.cremation-process {
  background-color: #fff;
}
.cremation-process p {
  width: 50%;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .cremation-process p {
    width: 100%;
  }
}

.pet-id {
  background-color: #222;
  color: #f4f4f4;
}

.cremation-types .fas {
  color: #018ae0 !important;
}

.cta .btn {
  font-weight: 600;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #018ae0;
  color: #fff;
  border: none;
}
.cta .btn:hover {
  background-color: #090979;
}/*# sourceMappingURL=style.css.map */