$color-primary: #018ae0;
$color-secondary: #090979;
$color-claro: #f4f4f4;
$color-oscuro: #222;
$color-orange: #d61c62;

$font-head: "Old Standard TT", serif;
$font-body: "DM Sans", sans-serif;